
.nav-search-form {
    width: 600px;
    justify-content: center;
    float: left;
    
}

.navBar {
    background-color: rgb(195, 210, 192);
    /* overflow:hidden; */
    position: fixed; 
    top: 0;
    height: 80px;
    width: 100%;
    padding: 15px 0;
    z-index: 1030;
}

.holder {
    display: flex;
}

.searchContainer {
    margin-left: 250px;
    padding-left: 5px;
    padding-right: 5px;
}

.searchBar {
    width: 350px;
    border-radius: 5px;
}

.dropDownAndName {
    display: flex;
}

.navIconContainer {
    display: flex;
    margin-left: 200px;
}

.iconBtn {
    padding-left: 20px;
    padding-right: 20px;
}

.addPostBtn{
    margin-top: 10px;
}
